doctype html
html(ng-app='ec2Signal')
  head
    title= title
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='/angular/angular.min.js')
    script(src='/javascripts/ec2signal.js')
    //script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

  body
    block content
